#achievements {
	.header {
		margin-bottom: 5%;
	}

	.achievement-cup {
		font-size: 5em;
		color: $main-color;
	}
	.achievement-label {
		font-size: 2em;
		font-weight: 200px;
		color: #616161;
	}
	.achievement-description {
		font-size: 1.5em;
		font-weight: 200;
	}

}